<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Poller</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
	<main>
		<h1>Poller</h1>
		<!--
		<section>
			<div>
				<article>
					<h2>{{ question.question_text }}</h2>
					<ul>
						{% for choice in question.choice_set.all %}
							<li>{{ choice.choice_text }}</li>
						{% endfor %}
					</ul>
				</article>
			</div>
		</section>
		-->
		<section>
			<div>
				<article>
					<form action="{% url 'poller:vote' question.id %}" method="POST">
						{% csrf_token %}
						<fieldset>
							<legend><h2>{{ question.question_text }}</h2></legend>
							{% if error_message %}
								<p><strong>{{ error_message }}</strong></p>
							{% endif %}
							{% for choice in question.choice_set.all %}
								<input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
								<label for="choice{{ forloop.counter }}">
									{{ choice.choice_text}}
								</label>
								<br>
							{% endfor %}
						</fieldset>
						<input type="submit" value="Vote">
					</form>
				</article>
			</div>
		</section>
	</main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>