<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Poller</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'poller/style.css' %}">
</head>
<body>
	<main>
		<a href="{% url 'poller:index' %}">
			<h1>Poller</h1>
		</a>
		<section>
			<div>
				{% if latest_question_list %}
					<div>
						<ul>
						{% for question in latest_question_list %}
							<article>
								<div>
									<li><a href="{% url 'poller:detail' question.id %}">
										{{ question.question_text }}
									</a></li>
								</div>
							</article>
						{% endfor %}
						</ul>
					</div>
				{% else %}
					<p>No polls are available.</p>
				{% endif %}
			</div>
		</section>
	</main>
</body>
</html>